
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Anybody:wght@100&family=Imperial+Script&family=Inconsolata:wght@200&family=Inter:wght@300&family=Lato&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@200&family=Roboto:wght@100&family=Smooch+Sans:wght@700&family=Sofia+Sans:wght@200&family=Source+Code+Pro:wght@200&family=Source+Sans+Pro:wght@300&family=Teko:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/layout.css">
    <title><%= title %></title>
    <%- style %>
</head>
<body>
    <%- include('_header') %>

    <%- body %>

    <%- script %>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    
    <script>
        <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.success %>",
                type: 'success',
                layout: 'topRight',
                timeout: 1500
            }).show();
        <% } %>

        <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.error %>",
                type: 'error',
                layout: 'topRight',
                timeout: 1500
            }).show();
        <% } %>
    </script>
</body>
</html>